.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  padding: 20px; /* Use padding for spacing instead of a fixed height */
  color: white;
  display: flex; /* Arrange items in a row */
  flex-direction: row; /* Header items should be side-by-side */
  align-items: center; /* Vertically align items in the middle */
  justify-content: space-between; /* Puts space between title and nav links */
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
